@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1E212C;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 1.3;
  padding: 15px 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  display: inline-block;
}

.button:hover {
  text-decoration: underline;
  background: -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.9) 0%, rgba(247, 94, 5, 0.9) 100%);
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.9) 0%, rgba(247, 94, 5, 0.9) 100%);
}

.button--border {
  color: #FF3F3A;
  background: transparent;
  border: 1px solid #FF3F3A;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button--border:hover {
  text-decoration: underline;
  color: #fff;
  background: #FF3F3A;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  padding: 15px 0;
  min-height: 92px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 25px;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  line-height: 1.6;
  color: #424551;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  text-decoration: underline;
  color: #FF3F3A;
}

.actives-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  font-weight: 700;
  line-height: 1.6;
}

.profile__login {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.profile__login:hover {
  text-decoration: underline;
  color: #FF3F3A;
}

.profile__login::after {
  content: "/";
}

.profile__login::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/home/Profile.svg") left no-repeat;
  padding-left: 25px;
}

.profile__register {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.profile__register:hover {
  text-decoration: underline;
  color: #FF3F3A;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #1E212C;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}

.footer__signup {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

.content-footer__logo {
  display: inline-block;
  cursor: pointer;
}

.content-footer__logo:not(:last-child) {
  margin-bottom: 24px;
}

.content-footer__text {
  font-size: 12px;
  opacity: 0.6;
}

.content-footer__text:not(:last-child) {
  margin-bottom: 38px;
}

.content-footer__link {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-footer__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.content-footer__link:not(:last-child) {
  margin-right: 20px;
}

.site-map-footer__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.site-map-footer__title:not(:last-child) {
  margin-bottom: 24px;
}

.site-map-footer__list {
  opacity: 0.6;
}

.site-map-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.courses-footer__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.courses-footer__title:not(:last-child) {
  margin-bottom: 24px;
}

.courses-footer__list {
  opacity: 0.6;
}

.courses-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-us-footer__list {
  opacity: 0.6;
}

.contact-us-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-us__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact-us__title:not(:last-child) {
  margin-bottom: 24px;
}

.signup-footer__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.signup-footer__title:not(:last-child) {
  margin-bottom: 24px;
}

.signup-footer__input input {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  min-width: 286px;
  padding: 9px 0 9px 12px;
  color: #fff;
  display: inline-block;
  position: relative;
}

.signup-footer__input input::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/home/footer/Right.svg") 0 0 no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.signup-footer__input:not(:last-child) {
  margin-bottom: 12px;
}

.signup-footer__text {
  opacity: 0.6;
  font-size: 10px;
  color: #fff;
}

.main-block {
  position: relative;
  padding: 200px 0 80px 0;
  margin-bottom: 180px;
  background: -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 180px;
}

.main-block__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.main-block__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main-block__media img {
  max-width: 100%;
}

.content-main__play {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  gap: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.content-main__play:not(:last-child) {
  margin-bottom: 55px;
}

.content-main__play::before {
  content: "";
  background: #FF3F3A url("../img/home/Polygon.svg") center no-repeat;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.content-main__play:hover::before {
  background: #fb1b13 url("../img/home/Polygon.svg") center no-repeat;
}

.content-main__play::after {
  content: "";
  width: 52px;
  height: 52px;
  background: #FF3F3A;
  opacity: 0.12;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: circle 2s ease infinite;
          animation: circle 2s ease infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

.content-main__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.content-main__title:not(:last-child) {
  margin-bottom: 60px;
}

.actives-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.advantages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-main__column:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FF3F3A;
  margin-left: 66px;
  margin-right: 10px;
}

.advantages-main__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.advantages-main__text {
  line-height: 1.6;
}

.icons-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
}

.icons-main__item {
  position: absolute;
}

.icons-main__item--1 {
  background: url("../img/home/icons/1.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 12%;
  left: 4%;
}

.icons-main__item--2 {
  background: url("../img/home/icons/2.svg") 0 0 no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9.2%;
  left: -5.5%;
  opacity: 0.3;
}

.icons-main__item--3 {
  background: url("../img/home/icons/3.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}

.icons-main__item--4 {
  background: url("../img/home/icons/4.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  bottom: 24%;
  left: 38%;
}

.icons-main__item--5 {
  background: url("../img/home/icons/5.svg") 0 0 no-repeat;
  width: 110px;
  height: 110px;
  top: 0%;
  right: 5%;
}

.icons-main__item--6 {
  background: url("../img/home/icons/6.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  right: 0;
  bottom: 18%;
}

.section-who {
  position: relative;
}

.section-who__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
}

.section-who__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.section-who__media img {
  max-width: 100%;
}

.section-who__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
}

.content-who__title:not(:last-child) {
  margin-bottom: 40px;
}

.content-who__list:not(:last-child) {
  margin-bottom: 48px;
}

.list-who__item {
  font-weight: 400;
  color: #424551;
  line-height: 1.6;
  padding-left: 32px;
  position: relative;
}

.list-who__item:not(:last-child) {
  margin-bottom: 12px;
}

.list-who__item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background: url("../img/home/check.svg") 0 0 no-repeat;
  margin-right: 32px;
}

.icons-who {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.icons-who__item {
  position: absolute;
}

.icons-who__item--1 {
  top: 25%;
  left: 0;
  background: url("../img/home/icons/who/1.svg") 0 0 no-repeat;
  width: 180px;
  height: 130px;
}

.icons-who__item--2 {
  top: 25%;
  right: -10%;
  background: url("../img/home/icons/who/2.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
}

.section-courses {
  padding: 180px 0;
}

.head-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-courses:not(:last-child) {
  margin-bottom: 60px;
}

.body-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.card-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-right: 15px;
  gap: 30px;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  max-width: 600px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.card-courses:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-courses__photo img {
  max-width: 100%;
}

.body-card-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body-card-courses__position {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  background-color: #03CEA4;
  padding: 1px 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 79px;
}

.body-card-courses__position--blue {
  background-color: #5A87FC;
  max-width: 97px;
}

.body-card-courses__position--orange {
  background-color: #F89828;
  max-width: 112px;
}

.body-card-courses__position--pink {
  background-color: #F52F6E;
  max-width: 60px;
}

.body-card-courses__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.price-courses-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.price-courses-card__value {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #FF4242;
}

.price-courses-card__name {
  font-size: 18px;
  line-height: 1.5;
  color: #424551;
}

.section-benefits__subtitle {
  text-align: center;
}

.section-benefits__title {
  text-align: center;
}

.section-benefits__title:not(:last-child) {
  margin-bottom: 60px;
}

.actives-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.actives-benefits:not(:last-child) {
  margin-bottom: 60px;
}

.actives-benefits__button--star {
  margin-left: -32px;
}

.actives-benefits__button--star::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/home/icons/benefits/1.svg") center no-repeat;
  padding-right: 32px;
}

.actives-benefits__button--like {
  margin-left: -32px;
}

.actives-benefits__button--like::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/home/icons/benefits/2.svg") center no-repeat;
  padding-right: 32px;
}

.actives-benefits__button--library {
  margin-left: -32px;
}

.actives-benefits__button--library::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/home/icons/benefits/3.svg") center no-repeat;
  padding-right: 32px;
}

.actives-benefits__button--community {
  margin-left: -32px;
}

.actives-benefits__button--community::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/home/icons/benefits/4.svg") center no-repeat;
  padding-right: 32px;
}

.actives-benefits__button {
  font-weight: 700;
  line-height: 1.6;
  color: #9A9CA5;
  padding: 10px 70px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actives-benefits__button:hover {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;
}

.body-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
}

.body-benefits__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39%;
          flex: 0 1 39%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 15px;
}

.body-benefits__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
}

.body-benefits__title:not(:last-child) {
  margin-bottom: 24px;
}

.body-benefits__text {
  line-height: 1.6;
  color: #424551;
}

.body-benefits__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin-bottom: 120px;
}

.body-benefits__media img {
  max-width: 100%;
}

.section-events {
  padding: 80px 0;
  background: -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.section-events__subtitle {
  text-align: center;
}

.section-events__title {
  text-align: center;
}

.section-events__title:not(:last-child) {
  margin-bottom: 60px;
}

.section-events__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.body-events:not(:last-child) {
  margin-bottom: 60px;
}

.body-events__card {
  background-color: #fff;
  border-radius: 4px;
  min-height: 126px;
  min-width: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.body-events__card:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.card-body-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.card-body-events__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.date-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.date-events__value {
  color: #FF3F3A;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 1.3;
}

.date-events__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.date-events__time {
  color: #787A80;
  line-height: 1.6;
}

.text-events__body {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.text-events__subbody {
  line-height: 160%;
  color: #787A80;
}

.active-section-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.active-section-events__text {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.section-certificate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 15px;
  gap: 130px;
  -webkit-transform: translateY(160px);
      -ms-transform: translateY(160px);
          transform: translateY(160px);
}

.section-certificate__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.section-certificate__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 56%;
          flex: 0 1 56%;
}

.section-certificate__media img {
  max-width: 100%;
}

.content-certificate__title:not(:last-child) {
  margin-bottom: 48px;
}

.content-certificate__text:not(:last-child) {
  margin-bottom: 32px;
}

.content-certificate__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.content-certificate__logo img {
  max-width: 100%;
}

.section-team {
  background-color: #F4F5F6;
  padding-top: 166px;
}

.section-team__title:not(:last-child) {
  margin-bottom: 60px;
}

.cards-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.cards-team__body {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.cards-team__media {
  position: relative;
}

.cards-team__media img {
  max-width: 100%;
}

.cards-team__media img {
  position: relative;
  padding: 20px 10px 0 10px;
  border-radius: 4px;
}

.cards-team__media img:hover {
  z-index: 20;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: -o-linear-gradient(top, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.cards-team__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCF2D;
}

.cards-team__media:not(:last-child) {
  margin-bottom: 16px;
}

.cards-team__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.cards-team__name:not(:last-child) {
  margin-bottom: 4px;
}

.cards-team__position {
  line-height: 1.6;
  color: #787A80;
}

.testimomials {
  padding: 180px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimomials__subtitle {
  text-align: center;
}

.testimomials__title {
  text-align: center;
}

.testimomials__title:not(:last-child) {
  margin-bottom: 60px;
}

.testimomials__item {
  background-color: #fff;
}

.item-testimonials {
  padding: 64px 100px;
  max-width: 1020px;
}

.item-testimonials__text {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  color: #424551;
}

.item-testimonials__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 20px;
  background: url("../img/home/braces.svg") top no-repeat;
  margin-left: -60px;
}

.item-testimonials__text:not(:last-child) {
  margin-bottom: 24px;
}

.author-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.author-testimonials__name {
  font-weight: 700;
  line-height: 1.6;
}

.author-testimonials__position {
  font-size: 14px;
  color: #787A80;
  line-height: 1.5;
}

.section-latest {
  padding-top: 120px;
  padding-bottom: 180px;
}

.header-latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-latest:not(:last-child) {
  margin-bottom: 60px;
}

.body-latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  gap: 30px;
}

.item-body-latest__image img {
  max-width: 100%;
}

.item-body-latest__image:not(:last-child) {
  margin-bottom: 16px;
}

.item-body-latest__subimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #787A80;
}

.item-body-latest__subimage:not(:last-child) {
  margin-bottom: 8px;
}

.item-body-latest__question {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.item-body-latest__question:not(:last-child) {
  margin-bottom: 8px;
}

.item-body-latest__text {
  color: #424551;
  line-height: 1.6;
}

.item-body-latest__text:not(:last-child) {
  margin-bottom: 16px;
}

.item-body-latest__listen {
  position: relative;
  font-weight: 700;
  line-height: 1.6;
}

.item-body-latest__listen::after {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/home/latest/Right.svg") center no-repeat;
  margin-left: 50px;
}

.subimage__position::after {
  content: "|";
  padding-left: 12px;
}

.subimage__date {
  position: relative;
  margin-left: 16px;
}

.subimage__date::before {
  content: "";
  background: url("../img/home/latest/Calendar.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -22px;
}

.subimage__date::after {
  content: "|";
  padding-left: 12px;
}

.subimage__time {
  position: relative;
  margin-left: 16px;
}

.subimage__time::before {
  content: "";
  background: url("../img/home/latest/Clock.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -22px;
}

.section-subscribe {
  position: relative;
  padding: 120px 0 180px;
  text-align: center;
  background: -o-linear-gradient(34.05deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  z-index: 50;
}

.section-subscribe__container {
  max-width: 810px;
}

.section-subscribe__title:not(:last-child) {
  margin-bottom: 60px;
}

.section-subscribe .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.section-subscribe .input__email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 422px;
  border: 1px solid #D7DADD;
  padding: 13px 0 13px 16px;
  line-height: 1.5;
  color: #9A9CA5;
}

.decor-subsribe__item {
  position: absolute;
  background: url("../img/home/input.svg") 0 0 no-repeat;
  width: 354px;
  height: 256px;
  pointer-events: none;
}

.decor-subsribe__item img {
  max-width: 100%;
}

.decor-subsribe__item--1 {
  bottom: 0;
  left: 0;
}

.decor-subsribe__item--2 {
  bottom: 0;
  right: 0;
}

@media (min-width: 80.625em) {
  .header {
    padding-top: 0.9375rem;
  }

  .main-block {
    margin-bottom: 11.25rem;
  }

  .main-block__body {
    margin-bottom: 11.25rem;
  }

  .content-main__title {
    font-size: 4rem;
  }

  .actives-main__button {
    padding-top: 0.9375rem;
  }

  .actives-main__button {
    padding-bottom: 0.9375rem;
  }

  .actives-main__button {
    padding-right: 2.5rem;
  }

  .actives-main__button {
    padding-left: 2.5rem;
  }

  .advantages-main__column {
    gap: 0.75rem;
  }

  .section-who__container {
    gap: 8.4375rem;
  }

  .content-who__title {
    font-size: 2.875rem;
  }

  .section-courses {
    padding-top: 11.25rem;
  }

  .section-courses {
    padding-bottom: 11.25rem;
  }

  .testimomials {
    padding-top: 11.25rem;
  }

  .section-latest {
    padding-top: 7.5rem;
  }

  .section-subscribe {
    padding-top: 7.5rem;
  }

  .section-subscribe {
    padding-bottom: 11.25rem;
  }

  .decor-subsribe__item {
    width: 22.125rem;
  }

  .decor-subsribe__item {
    height: 22.125rem;
  }
}

@media (max-width: 1300px) {
  .decor-subsribe__item {
    opacity: 0.2;
    z-index: -1;
  }
}

@media (max-width: 1265px) {
  .card-body-events {
    text-align: center;
    row-gap: 15px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 1250px) {
  .body-courses {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .footer__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 15px;
  }
}

@media (max-width: 1120px) {
  .section-certificate__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1092px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 950px) {
  .section-who__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 935px) {
  .advantages-main__column:not(:last-child)::after {
    width: 0;
    height: 0;
  }
}

@media (max-width: 900px) {
  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__signup {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .advantages-main__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cards-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  .body-benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 20px;
  }
}

@media (max-width: 800px) {
  .body-latest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 700px) {
  .main-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .actives-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .section-subscribe .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }

  .main-block {
    margin-bottom: 5.625rem;
  }

  .main-block__body {
    margin-bottom: 5.625rem;
  }

  .content-main__title {
    font-size: 1.875rem;
  }

  .actives-main__button {
    padding-top: 0.3125rem;
  }

  .actives-main__button {
    padding-bottom: 0.3125rem;
  }

  .actives-main__button {
    padding-right: 0.9375rem;
  }

  .actives-main__button {
    padding-left: 0.9375rem;
  }

  .advantages-main__column {
    gap: 0.3125rem;
  }

  .section-who__container {
    gap: 4.375rem;
  }

  .content-who__title {
    font-size: 1.625rem;
  }

  .section-courses {
    padding-top: 5.625rem;
  }

  .section-courses {
    padding-bottom: 5.625rem;
  }

  .testimomials {
    padding-top: 5.625rem;
  }

  .section-latest {
    padding-top: 3.75rem;
  }

  .section-subscribe {
    padding-top: 3.75rem;
  }

  .section-subscribe {
    padding-bottom: 5.625rem;
  }

  .decor-subsribe__item {
    width: 6.25rem;
  }

  .decor-subsribe__item {
    height: 6.25rem;
  }
}

@media (min-width: 20em) and (max-width: 80.625em) {
@supports (padding-top: clamp( 0.625rem , 0.5219072165rem  +  0.5154639175vw , 0.9375rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.5219072165rem  +  0.5154639175vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.5219072165rem  +  0.5154639175vw , 0.9375rem )) {
    .header {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 60.625);
    }
}

@supports (margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .main-block {
      margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .main-block {
      margin-bottom: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .main-block__body {
      margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .main-block__body {
      margin-bottom: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1739690722rem  +  3.5051546392vw , 4rem )) {
    .content-main__title {
      font-size: clamp( 1.875rem , 1.1739690722rem  +  3.5051546392vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1739690722rem  +  3.5051546392vw , 4rem )) {
    .content-main__title {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem )) {
    .actives-main__button {
      padding-top: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem )) {
    .actives-main__button {
      padding-top: calc(0.3125rem + 0.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-bottom: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem )) {
    .actives-main__button {
      padding-bottom: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.3125rem , 0.106314433rem  +  1.0309278351vw , 0.9375rem )) {
    .actives-main__button {
      padding-bottom: calc(0.3125rem + 0.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) {
    .actives-main__button {
      padding-right: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) {
    .actives-main__button {
      padding-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) {
    .actives-main__button {
      padding-left: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) {
    .actives-main__button {
      padding-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.625);
    }
}

@supports (gap: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem )) {
    .advantages-main__column {
      gap: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem );
    }
}

@supports not (gap: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem )) {
    .advantages-main__column {
      gap: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 60.625);
    }
}

@supports (gap: clamp( 4.375rem , 3.0347938144rem  +  6.7010309278vw , 8.4375rem )) {
    .section-who__container {
      gap: clamp( 4.375rem , 3.0347938144rem  +  6.7010309278vw , 8.4375rem );
    }
}

@supports not (gap: clamp( 4.375rem , 3.0347938144rem  +  6.7010309278vw , 8.4375rem )) {
    .section-who__container {
      gap: calc(4.375rem + 4.0625 * (100vw - 20rem) / 60.625);
    }
}

@supports (font-size: clamp( 1.625rem , 1.212628866rem  +  2.0618556701vw , 2.875rem )) {
    .content-who__title {
      font-size: clamp( 1.625rem , 1.212628866rem  +  2.0618556701vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.212628866rem  +  2.0618556701vw , 2.875rem )) {
    .content-who__title {
      font-size: calc(1.625rem + 1.25 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-courses {
      padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-courses {
      padding-top: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-courses {
      padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-courses {
      padding-bottom: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .testimomials {
      padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .testimomials {
      padding-top: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem )) {
    .section-latest {
      padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem )) {
    .section-latest {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem )) {
    .section-subscribe {
      padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5128865979rem  +  6.1855670103vw , 7.5rem )) {
    .section-subscribe {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-subscribe {
      padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 5.625rem , 3.7693298969rem  +  9.2783505155vw , 11.25rem )) {
    .section-subscribe {
      padding-bottom: calc(5.625rem + 5.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (width: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem )) {
    .decor-subsribe__item {
      width: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem );
    }
}

@supports not (width: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem )) {
    .decor-subsribe__item {
      width: calc(6.25rem + 15.875 * (100vw - 20rem) / 60.625);
    }
}

@supports (height: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem )) {
    .decor-subsribe__item {
      height: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem );
    }
}

@supports not (height: clamp( 6.25rem , 1.0128865979rem  +  26.1855670103vw , 22.125rem )) {
    .decor-subsribe__item {
      height: calc(6.25rem + 15.875 * (100vw - 20rem) / 60.625);
    }
}
}